  <% flashed_errors(:configuration_file) %>
  <p>
    <b>Name</b><br />
    <%= text_field 'configuration_file', 'name', :style =>'width:300px; ' %>
  </p>

  <p>
    <b>Roles</b><br />
    <%= text_field 'configuration_file', 'roles', :style =>'width:300px; ' %>
  </p>

  <p>
    <b>File Target</b><br />
    <%= text_field 'configuration_file', 'file_target', :style =>'width:300px; ' %>
  </p>

  <p>
    <b>Task run before file publish</b><br />
    <%= text_field 'configuration_file', 'before_task', :style =>'width:200px; ' %>
  </p>

  <p>
    <b>Task run after file publish</b><br />
    <%= text_field 'configuration_file', 'after_task', :style =>'width:200px; ' %>
  </p>

  <p>
    <b>Body</b><br />
    <%= text_area 'configuration_file', 'file_template', :style =>'width:600px; height: 400px;' %>
  </p>

  <%= observe_field "configuration_file_file_template", :frequency => 2.5, :with => "Form.Element.serialize('configuration_file_file_template')", :url => preview_configuration_files_url%>

  <fieldset class="fieldset" id="preview_fieldset" style="display:none">
    <legend>Code-Preview</legend>
    <div id="preview" style="display"></div>
  </fieldset>
  <br/>